##### 생선의 무게와 크기로 생선 분류
 - 데이터셋 : fish.csv 
 - 피쳐/입력데이터 : Weight, Length
 - 타겟/클래스/출력 : Species
 - 기계학습 방법 : 지도학습 ==> 분류
 - 분류 알고리즘(문제해결방법) : 미정

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# csv ==> DataFrame
## - 첫번째 줄 : 컬럼명 존재
## - 구분자 : 쉼표
## - 로딩컬럼 : Species, Weight, Length

In [4]:
# 경로 => 상대경로, 절대경로
# 상대경로 : 현재 파일을 기준으로 경로를 설정
# -./ : 현재 위치 의미
# - ../ : 상위 즉, 한단계 위의 위치 의미
DATA_FILE = '../data/fish.csv'


# 절대경로 : 드라이브(C,D, E...)를 기준으로 경로 설정

In [5]:
# csv ==> DataFrame
## - 첫번째 줄 : 컬럼명 존재
## - 구분자 : 쉼표
## - 로딩컬럼 : Species, Weight, Length
fishDF = pd.read_csv(DATA_FILE,usecols=[0,1,2])

In [6]:
# 1-1 정보 확인
fishDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length   159 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.9+ KB

In [7]:
# 1-2 컬럼별 결측치 확인
# -> isnull() x
# 컬럼별 고유값 확인
fishDF.value_counts()

Species    Weight  Length
Roach      160.0   22.5      2
Perch      120.0   22.0      2
Bream      600.0   32.0      2
           700.0   33.0      2
           242.0   25.4      1
                            ..
Perch      100.0   18.0      1
           110.0   21.0      1
                   22.0      1
           115.0   21.0      1
Whitefish  1000.0  40.0      1
Name: count, Length: 155, dtype: int64

In [8]:
# 1-3 컬럼별 중복값 확인
# -> 길이와 무게가 같다고 해서 높이,너비,대각선 길이가 같지는 않음
# -> 중복데이터 유지

In [9]:
# 2 피쳐와 타켓의 관계, 피쳐와 피쳐의 관계
# 2-1 피쳐와 타켓의 관계 => 연관성 확인
# 연관성 -> 상관계수 확인
# object 타입의 품종을 int로 변환한 컬럼 추가 fish_num
# ndarray -> list 형변환
names = fishDF['Species'].unique().tolist()
{name: idx for idx, name in enumerate(names)} # 딕셔너리 컨프리헨션 dict comprehension

{'Bream': 0,
 'Roach': 1,
 'Whitefish': 2,
 'Parkki': 3,
 'Perch': 4,
 'Pike': 5,
 'Smelt': 6}

In [10]:
values=fishDF['Species'].replace({'Bream':1,'Roach':2,'Whitefish':3,'Parkki':4,'Perch':5,'Pike':6,'Smelt':7})
fishDF['code']=values

In [11]:
fishDF['code'].value_counts()

code
5    56
1    35
2    20
6    17
7    14
4    11
3     6
Name: count, dtype: int64

In [12]:
# 7가지 종류에 대한 상관계수
fishDF.corr(numeric_only=True)

          Weight    Length      code
Weight  1.000000  0.918618 -0.176783
Length  0.918618  1.000000 -0.118425
code   -0.176783 -0.118425  1.000000

In [13]:
# 도미(Bream)와 빙어(Smelt)의 상관관계 계수
mask =(fishDF['Species'] == 'Bream') | (fishDF['Species'] == 'Smelt')

In [14]:
twofishDF = fishDF[mask]

In [15]:
twofishDF.corr(numeric_only=True)

          Weight    Length      code
Weight  1.000000  0.960347 -0.843828
Length  0.960347  1.000000 -0.944132
code   -0.843828 -0.944132  1.000000