### 데이터 활용 방법 - 전치
- 행과 열을 서로 바꾸는 것
- 방법
   - 1.  메서드 사용 : 변수명.transpose()
   - 2.  속성 사용 : 변수명.T

In [8]:
import pandas as pd

In [9]:
# [데이터 준비]
file_name='data.csv'

In [10]:
# [csv 파일 DF로 저장]
DF=pd.read_csv(file_name)
DF

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [17]:
# DF 형태 변경 : 행 ==> 열 , 열 ==> 행
print('변경전', DF.index, DF.columns, sep='\n')

# 속성 T 사용
DF=DF.T
print('변경후', DF.index, DF.columns, sep='\n')

변경전
RangeIndex(start=0, stop=7, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')
변경후
Index(['no', 'name', 'age', 'gender'], dtype='object')
RangeIndex(start=0, stop=7, step=1)

In [18]:
DF

           0     1     2        3     4   5    6
no         1     2     3        4     5   6    7
name    Hong  Atom  Jang  IronMan  CapA  Po  San
age       10    25    63       48   123  45   25
gender     F     F     M        F     M   F    M

In [19]:
# 메서드 transpose() 사용
DF=DF.transpose()
print('변경후', DF.index, DF.columns, sep='\n')

변경후
RangeIndex(start=0, stop=7, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')

In [20]:
DF

  no     name  age gender
0  1     Hong   10      F
1  2     Atom   25      F
2  3     Jang   63      M
3  4  IronMan   48      F
4  5     CapA  123      M
5  6       Po   45      F
6  7      San   25      M