### [DataFrame의 인덱스 다루기 -1]
- 인덱스 종류 : 행 인덱스, 열 인덱스
- 특정 열을 행 인덱스로 설정하는 방법
- 메서드 : df.set_index(열 인덱스,inpalc=False)

In [8]:
# [1] 모듈 로딩
import pandas as pd

In [9]:
# [2] 데이터 준비
jumsu={'name':['마징가','태권V','원더우먼'],
       'kor':[89,98,99],
       'eng':[89,78,68],
       'math':[99,98,97]
       }

In [10]:
# [3] 딕셔너리를 DF으로 저장
jumsuDF=pd.DataFrame(jumsu)
jumsuDF

   name  kor  eng  math
0   마징가   89   89    99
1   태권V   98   78    98
2  원더우먼   99   68    97

In [11]:
# [4] name 컬럼을 행 인덱스로 설정
DF2=jumsuDF.set_index('name')
DF2

      kor  eng  math
name
마징가    89   89    99
태권V    98   78    98
원더우먼   99   68    97

In [12]:
# DF2 데이터프에림의 행 인덱스/ 열 인덱스
print(DF2.index, DF2.columns, sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [23]:
# [5] 데이터 추출 - 마징가, 원더우먼 성적 추출 즉, 행 추출 ==> 변수명.loc[] / 변수명.iloc[]
print(DF2.loc[['마징가','원더우먼']])
print(DF2.iloc[[0,2]])

      kor  eng  math
name
마징가    89   89    99
원더우먼   99   68    97
      kor  eng  math
name
마징가    89   89    99
원더우먼   99   68    97

In [24]:
# [6] 영어 점수 컬럼을 행 인덱스로 설정
DF3=jumsuDF.set_index('eng')
DF3

     name  kor  math
eng
89    마징가   89    99
78    태권V   98    98
68   원더우먼   99    97

In [25]:
## [6] name, eng 컬럼을 행 인덱스로 설정 => 멀티 인덱스
DF4=jumsuDF.set_index(['name','eng'])
DF4

          kor  math
name eng
마징가  89    89    99
태권V  78    98    98
원더우먼 68    99    97

In [27]:
print(DF4.index)

MultiIndex([( '마징가', 89),
            ( '태권V', 78),
            ('원더우먼', 68)],
           names=['name', 'eng'])

In [30]:
## 멀티인덱스에서 행 추출
DF4.loc[('마징가',89)] 
# DF4.loc[('마징가',80)]

kor     89
math    99
Name: (마징가, 89), dtype: int64