### [DataFrame 연산 - 1 ]
- 일대일 대응으로 인덱스가 동일한 원소들끼리 연산 수행
- DataFrame과 숫자데이터 연산 수행

In [6]:
# [1] 모듈 로딩
import pandas as pd
import numpy as np      # 빈칸 의미 표현을 위해 사용

In [7]:
# [2] 데이터 준비
data={'A':[98,78,156,99],
      'B':[78,56,85,45]}

In [8]:
# [3] Dict 데이터를 DF 형태로 저장
DF1=pd.DataFrame(data)
DF1

     A   B
0   98  78
1   78  56
2  156  85
3   99  45

In [9]:
# [4] - 연산 수행
# 산술 연산
DF1 * 3

     A    B
0  294  234
1  234  168
2  468  255
3  297  135

In [10]:
# - 비교 연산
DF1 <= 100

       A     B
0   True  True
1   True  True
2  False  True
3   True  True