### [Series & DataFrame 연산]

In [53]:
# [1] 모듈 로딩
import pandas as pd
import numpy as np

In [54]:
# [2] 데이터 준비
file_name='data1.csv'

In [55]:
# [3] CSV file => DF
csvDF=pd.read_csv(file_name,header=None)
csvDF

    0   1   2
0  10  20  30
1  15  45  89
2  66  55  99
3  77  88  66
4   8   6   7

In [56]:
# [4] 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
result=csvDF[0]+csvDF[2]

In [57]:
# 0번 컬럼부터 2번 컬럼까지의 덧셈 수행
result=csvDF[0]+csvDF[2]+csvDF[1]
result

0     60
1    149
2    220
3    231
4     21
dtype: int64

In [58]:
# 3개 컬럼 합산한 걸 total열 새로 만들어서 넣기
csvDF['total']=result
csvDF

    0   1   2  total
0  10  20  30     60
1  15  45  89    149
2  66  55  99    220
3  77  88  66    231
4   8   6   7     21

In [59]:
# 행 5 추가 및 각 컬럼의 값을 모두 더한 값을 넣기
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
csvDF.loc[5]=result2
# csvDF.drop(5,axis=1,inplace=True)
csvDF

     0    1    2  total
0   10   20   30     60
1   15   45   89    149
2   66   55   99    220
3   77   88   66    231
4    8    6    7     21
5  176  214  291    681

In [60]:
# [5] 연산수행 메서드
SR0=csvDF[0]
print(SR0)
print('합계 :', SR0.sum())
print('최대값 :', SR0.max())
print('최소값 :', SR0.min())

0     10
1     15
2     66
3     77
4      8
5    176
Name: 0, dtype: int64
합계 : 352
최대값 : 176
최소값 : 8

In [61]:
# DataFrame으로 연산수행 메서드
csvDF

     0    1    2  total
0   10   20   30     60
1   15   45   89    149
2   66   55   99    220
3   77   88   66    231
4    8    6    7     21
5  176  214  291    681

In [62]:
# DataFrame 합계 계산
# ex) 하나의 열에 있는 모든 행 데이터 합계 방향 : ↓
print('합계:', csvDF.sum())
print('----'*5)
# 각 컬럼 데이터를 모아서 합계 계산 수행 
# ex) 하나의 행에 있는 모든 열 데이터 합계 방향 : →
print('합계:', csvDF.sum(axis=1))

합계: 0         352
1         428
2         582
total    1362
dtype: int64
--------------------
합계: 0     120
1     298
2     440
3     462
4      42
5    1362
dtype: int64

In [63]:
#DataFrame 최대값 계산
# ex) 하나의 열에 있는 모든 행 데이터 중 최대값 방향 : ↓
print('최대값:', csvDF.max())
print('----'*5)
# 각 컬럼 데이터를 모아서 최대값 계산 수행 
# ex) 하나의 행에 있는 모든 열 데이터 중 최대값 방향 : →
print('합계:', csvDF.sum(axis=1))

최대값: 0        176
1        214
2        291
total    681
dtype: int64
--------------------
합계: 0     120
1     298
2     440
3     462
4      42
5    1362
dtype: int64

#### 연산과 데이터 추출
- 연산 결과와 데이터 추출 함께 진행

In [64]:
# total이 100 이상인 데이터만 추출
# 비교 연산 결과 ==> True/False : Boolean Index
csvDF['total'] >= 100

0    False
1     True
2     True
3     True
4    False
5     True
Name: total, dtype: bool

In [68]:
# Boolean index 즉, 인덱스로 특정 데이터 추출에 사용 가능
bool_idx = csvDF['total'] >= 100
csvDF[bool_idx]

     0    1    2  total
1   15   45   89    149
2   66   55   99    220
3   77   88   66    231
5  176  214  291    681