In [1]:
import pymysql
import pandas as pd
import csv

In [10]:
# mysql의 sakila 데이터베이스에 연결
conn  = pymysql.connect(host='localhost', user = 'root', 
                        password='1234',db='sakila', charset='utf8')

# 가져올 테이블 선택
cur = conn.cursor(pymysql.cursors.DictCursor)
cur.execute('select * from language')

# 헤더 정보 가져오기
desc = cur.description
for i in range(len(desc)):
    print(desc[i][0], end=' ')
print()

# 모든 데이터 가져오기
rows= cur.fetchall()
for data in rows:
    print(data)
print()

# DataFrame으로 변환
language_df = pd.DataFrame(rows)
print(language_df)
# 데이터베이스 연결 종료
cur.close()
conn.close()

language_id name last_update
{'language_id': 1, 'name': 'English', 'last_update': datetime.datetime(2006, 2, 15, 5, 2, 19)}
{'language_id': 2, 'name': 'Italian', 'last_update': datetime.datetime(2006, 2, 15, 5, 2, 19)}
{'language_id': 3, 'name': 'Japanese', 'last_update': datetime.datetime(2006, 2, 15, 5, 2, 19)}
{'language_id': 4, 'name': 'Mandarin', 'last_update': datetime.datetime(2006, 2, 15, 5, 2, 19)}
{'language_id': 5, 'name': 'French', 'last_update': datetime.datetime(2006, 2, 15, 5, 2, 19)}
{'language_id': 6, 'name': 'German', 'last_update': datetime.datetime(2006, 2, 15, 5, 2, 19)}

   language_id      name         last_update
0            1   English 2006-02-15 05:02:19
1            2   Italian 2006-02-15 05:02:19
2            3  Japanese 2006-02-15 05:02:19
3            4  Mandarin 2006-02-15 05:02:19
4            5    French 2006-02-15 05:02:19
5            6    German 2006-02-15 05:02:19

In [11]:
language_df

   language_id      name         last_update
0            1   English 2006-02-15 05:02:19
1            2   Italian 2006-02-15 05:02:19
2            3  Japanese 2006-02-15 05:02:19
3            4  Mandarin 2006-02-15 05:02:19
4            5    French 2006-02-15 05:02:19
5            6    German 2006-02-15 05:02:19