##### [데이터 필터링 - Bollean Indexing]
- Sr/Df 에서 원하는 조건의 데이터만 추출하기 위한 것
- True/False로 구성된 데이터 ==> index로 사용

In [22]:
import pandas as pd

In [23]:
data={'name':['마징가','배트맨','홍길동'],
              'Age':[45,19,65],
              'gender':['남','남','여']}
Df=pd.DataFrame(data)
Df

  name  Age gender
0  마징가   45      남
1  배트맨   19      남
2  홍길동   65      여

In [24]:
# 데이터 추출
# (1) 성별이 남자인 데이터만 추출
bool_idx=Df['gender']=='남'

In [25]:
Df[bool_idx]

  name  Age gender
0  마징가   45      남
1  배트맨   19      남

In [26]:
# (2) 20세 이상의 남자만 추출
bool_idx2=(Df['Age']>=20) & ( Df['gender'] == '남')

In [27]:
Df[bool_idx2]

  name  Age gender
0  마징가   45      남

In [28]:
# (3) 20세 이하 이거나 성별이 남자인 데이터만 추출
bool_idx3=(Df['Age']<=20) | (Df['gender'] == '남')

In [29]:
bool_idx3

0     True
1     True
2    False
dtype: bool

In [31]:
# (4) 성별이 남자가 아닌 데이터만 추출
# ~ True ==> False
# ~ False ==> True
~ (Df['gender'] =='남')

0    False
1    False
2     True
Name: gender, dtype: bool