### CSV 파일 DF으로 저장
- pandas.read_csv()함수 사용

In [2]:
import pandas as pd

In [3]:
# 데이터 준비 - 파일
data_file=r'C:\Users\KDP-17\EX_PANDAS6\day_02\data.csv'
data_file2=r'C:\Users\KDP-17\EX_PANDAS6\day_02\data 01.csv'

In [4]:
csvDF=pd.read_csv(data_file)

In [5]:
# 저장된 DF 확인
csvDF, csvDF.columns, csvDF.index

(   no     name  age gender
 0   1     Hong   10      F
 1   2     Atom   25      F
 2   3     Jang   63      M
 3   4  IronMan   48      F
 4   5     CapA  123      M
 5   6       Po   45      F
 6   7      San   25      M,
 Index(['no', 'name', 'age', 'gender'], dtype='object'),
 RangeIndex(start=0, stop=7, step=1))

In [6]:
# CSV파일 ==> DF로 저장
csvDF1=pd.read_csv(data_file2, sep=' ',header=None)
csvDF1

   0        1    2  3
0  1     Hong   10  F
1  2     Atom   25  F
2  3     Jang   63  M
3  4  IronMan   48  F
4  5     CapA  123  M

In [7]:
csvDF1.columns

Index([0, 1, 2, 3], dtype='int64')

In [8]:
csvDF1.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
type(csvDF1.iloc[1,0])

numpy.int64