### DataFrame에서 원소/요소 읽기
- 행 읽기/ 열 읽기
- 행과열이 교차하는 지점 원소/요소 읽기

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu=[[98,45,56],[45,78,65]]

In [4]:
# 2D 데이터를 DF으로 저장
df1=pd.DataFrame(jumsu)
df1

    0   1   2
0  98  45  56
1  45  78  65

In [9]:
# 행 인덱스와 열 인덱스 속성으로 지정
# 행 인덱스 => 김경태, 안효준
# 열 인덱스 => 음악, 영어, 무용
df1.index=('김경태','안효준')
df1.columns=('음악','영어','무용')
df1

     음악  영어  무용
김경태  98  45  56
안효준  45  78  65

-[열/컬럼 선택] : 변수명[컬럼명/컬럼인덱스]

In [12]:
# 영어 과목 점수만 추출
print(df1['영어'],type(df1['영어']),sep='\n')

김경태    45
안효준    78
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
# 무용 과목 점수만 추출
df1.무용            #df1['무용']

김경태    56
안효준    65
Name: 무용, dtype: int64

In [21]:
# 음악, 무용 컬럼 추출
df1[['음악','무용']]

     음악  무용
김경태  98  56
안효준  45  65

In [20]:
# 음악, 무용 컬럼 추출
# df1['음악':'무용'] : ERROR

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

In [27]:
print(df1.columns[:], df1.columns[::2],sep='\n')
df1[df1.columns[::2]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

     음악  무용
김경태  98  56
안효준  45  65

- [행/로우 선택] : 변수명.iloc[행인덱스], 변수명.loc[행인덱스]

In [15]:
# 변수명.iloc[정수인덱스]
df1.iloc[0]

음악    98
영어    45
무용    56
Name: 김경태, dtype: int64

In [28]:
# 변수명.loc[문자인덱스]
df1.loc['김경태']

음악    98
영어    45
무용    56
Name: 김경태, dtype: int64

In [29]:
# 여러개 행 추출
df1.loc[['안효준','김경태']]

     음악  영어  무용
안효준  45  78  65
김경태  98  45  56

In [34]:
print(df1.index, df1.index[1:], df1.index[::-1],sep='\n')
df1.loc[df1.index[:]]

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어  무용
김경태  98  45  56
안효준  45  78  65

- [원소/요소 추출하기] : 변수명.iloc[정수인덱스][열인덱스]/ 변수명.loc[행인덱스][열인덱스]

In [40]:
# 김경태님의 영어 점수만 추출
# df1['김경태']['영어']  <== keyerror
df1.loc['김경태']['영어'], df1.iloc[0]['영어'], #df1.iloc[0][1]

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_15056\4040701872.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.loc['김경태']['영어'], df1.iloc[0]['영어'], df1.iloc[0][1]

(45, 45, 45)

[원소/요소 추출]
 * 변수명.iloc[정수인덱스,열인덱스]/변수명.loc[행인덱스,열인덱스]

In [41]:
df1

     음악  영어  무용
김경태  98  45  56
안효준  45  78  65

In [43]:
# 김경태님의 영어 점수만 추출
df1.iloc[0,1] ## => iloc[정수인덱스,정수인덱스] 
# df1.iloc[0]['영어] ==> EROOR

45

In [44]:
df1.loc['김경태']['영어']

45

In [49]:
## [문] 김경태님의 영어, 무용 점수 추출
df1.iloc[0][1:]

영어    45
무용    56
Name: 김경태, dtype: int64

In [51]:
df1.loc['김경태'][['영어','무용']]

영어    45
무용    56
Name: 김경태, dtype: int64

In [52]:
df1.loc[:,'음악']

김경태    98
안효준    45
Name: 음악, dtype: int64