### DataFrame 살펴보기
- Dict 데이터로 DF 저장

In [23]:
# 모듈 로딩
import pandas as pd

In [24]:
# 데이터 준비
jumsu={'국어':[85,76],'수학':[79,95],'음악':[85,88]}

In [25]:
# DF로 데이터 저장
df1=pd.DataFrame(jumsu)

In [26]:
# DF로 저장된 데이터 확인
print(df1)

   국어  수학  음악
0  85  79  85
1  76  95  88

리스트로 만들면 리스트의 개수가 행 개수  
딕셔너리로 만들면 키의 개수가 열의 개수

- [속성으로 행인덱스 변경]:변수명.index=새로운 인덱스

In [27]:
# 현재 인덱스 0,1 ==> '마징가','홍길동' 변경
df1.index=['마징가','홍길동']

In [28]:
df1

     국어  수학  음악
마징가  85  79  85
홍길동  76  95  88

In [29]:
df1.columns=['국어','미술','과학']

In [30]:
df1

     국어  미술  과학
마징가  85  79  85
홍길동  76  95  88

In [31]:
# 값을 저장하고 있는 속성 : values
df1.values

array([[85, 79, 85],
       [76, 95, 88]], dtype=int64)

In [32]:
# 값/데이터 변경은 속성으로 불가능
# df1.values=['[89,45,12],[12,45,36]']

In [33]:
# 형태 변경 속성으로 불가능
# df1.shape(3,2)