### 데이터셋 불러오기

In [23]:
import pandas as pd

첫 데이터셋 불러오기

In [24]:
df=pd.read_csv(r"C:\Users\KDP-17\Desktop\data.csv")

In [25]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

데이터프레임 이해하기

In [26]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [27]:
# 첫번째 값이 행 개수, 두번재 값이 열 개수
print(df.shape)

(7, 4)

In [28]:
print(df.columns)

Index(['no', 'name', 'age', 'gender'], dtype='object')

In [29]:
print(df.dtypes)

no         int64
name      object
age        int64
gender    object
dtype: object

In [32]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      7 non-null      int64
 1   name    7 non-null      object
 2   age     7 non-null      int64
 3   gender  7 non-null      object
dtypes: int64(2), object(2)
memory usage: 352.0+ bytes
None

### 데이터 추출하기

In [31]:
print(df.head())

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M

문자열로 열 데이터 추출하기

In [35]:
name_df=df['name']
print(name_df)

0       Hong
1       Atom
2       Jang
3    IronMan
4       CapA
5         Po
6        San
Name: name, dtype: object

In [34]:
print(name_df.head())

0       Hong
1       Atom
2       Jang
3    IronMan
4       CapA
Name: name, dtype: object

In [37]:
print(name_df.tail())

2       Jang
3    IronMan
4       CapA
5         Po
6        San
Name: name, dtype: object

리스트로 열 데이터 추출하기

In [38]:
subset=df[['name','age','gender']]
print(subset)

      name  age gender
0     Hong   10      F
1     Atom   25      F
2     Jang   63      M
3  IronMan   48      F
4     CapA  123      M
5       Po   45      F
6      San   25      M

In [41]:
name_df=df['name']
print(type(name_df))

<class 'pandas.core.series.Series'>

In [42]:
print(name_df)

0       Hong
1       Atom
2       Jang
3    IronMan
4       CapA
5         Po
6        San
Name: name, dtype: object

In [43]:
name_df_list=df[['name']]
print(type(name_df_list))

<class 'pandas.core.frame.DataFrame'>

In [44]:
print(name_df_list)

      name
0     Hong
1     Atom
2     Jang
3  IronMan
4     CapA
5       Po
6      San

In [45]:
print(df.name)

0       Hong
1       Atom
2       Jang
3    IronMan
4       CapA
5         Po
6        San
Name: name, dtype: object

행 이름으로 행 데이터 추출하기

In [46]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [47]:
print(df.loc[0])

no           1
name      Hong
age         10
gender       F
Name: 0, dtype: object

In [48]:
print(df.loc[6])

no          7
name      San
age        25
gender      M
Name: 6, dtype: object

In [50]:
# print(df.loc[-1])

In [51]:
number_of_rows=df.shape[0]

In [52]:
last_row_index=number_of_rows-1

In [54]:
print(df.loc[last_row_index])

no          7
name      San
age        25
gender      M
Name: 6, dtype: object

In [55]:
print(df.tail(n=1))

   no name  age gender
6   7  San   25      M

In [59]:
print(type(df.tail(n=1)))

<class 'pandas.core.frame.DataFrame'>

In [61]:
print(type(df.loc[last_row_index]))

<class 'pandas.core.series.Series'>

In [62]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [63]:
print(df.loc[0:5])

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F

In [64]:
print(df.loc[[0,1,2]])

   no  name  age gender
0   1  Hong   10      F
1   2  Atom   25      F
2   3  Jang   63      M

In [65]:
print(df.loc[0]['age'])

10

행 번호로 행 데이터 추출하기

In [66]:
print(df.iloc[0])

no           1
name      Hong
age         10
gender       F
Name: 0, dtype: object

In [67]:
print(df.iloc[5])

no         6
name      Po
age       45
gender     F
Name: 5, dtype: object

In [68]:
print(df.iloc[-1])

no          7
name      San
age        25
gender      M
Name: 6, dtype: object

In [69]:
print(df.iloc[[0,5,6]])

   no  name  age gender
0   1  Hong   10      F
5   6    Po   45      F
6   7   San   25      M

슬라이싱 구문으로 데이터 추출하기

In [70]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [72]:
subset=df.loc[:,['name','age']]
print(subset)

      name  age
0     Hong   10
1     Atom   25
2     Jang   63
3  IronMan   48
4     CapA  123
5       Po   45
6      San   25

In [77]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [81]:
subset2=df.iloc[[2,4,-1]]
print(subset2)

   no  name  age gender
2   3  Jang   63      M
4   5  CapA  123      M
6   7   San   25      M

range()로 데이터 추출하기

In [83]:
samll_range=list(range(5))
print(samll_range)

[0, 1, 2, 3, 4]

In [84]:
print(df.iloc[samll_range])

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M

In [85]:
small_range2=list(range(3,6))
print(small_range2)

[3, 4, 5]

In [87]:
small_range3=list(range(1,5,2))
print(small_range3)

[1, 3]

In [97]:
print(df.iloc[:,small_range3])

      name gender
0     Hong      F
1     Atom      F
2     Jang      M
3  IronMan      F
4     CapA      M
5       Po      F
6      San      M

슬라이싱 구문과 range()비교하기

In [91]:
print(df.columns)

Index(['no', 'name', 'age', 'gender'], dtype='object')

In [96]:
small_range4=list(range(3))
print(df.iloc[:,small_range4])

   no     name  age
0   1     Hong   10
1   2     Atom   25
2   3     Jang   63
3   4  IronMan   48
4   5     CapA  123
5   6       Po   45
6   7      San   25

In [94]:
print(df.iloc[:,:3])

   no     name  age
0   1     Hong   10
1   2     Atom   25
2   3     Jang   63
3   4  IronMan   48
4   5     CapA  123
5   6       Po   45
6   7      San   25

In [95]:
print(df.iloc[:3])

   no  name  age gender
0   1  Hong   10      F
1   2  Atom   25      F
2   3  Jang   63      M

In [108]:
print(df.iloc[:,:3])

   no     name  age
0   1     Hong   10
1   2     Atom   25
2   3     Jang   63
3   4  IronMan   48
4   5     CapA  123
5   6       Po   45
6   7      San   25

In [110]:
print(df.loc[:,'no':'age'])

   no     name  age
0   1     Hong   10
1   2     Atom   25
2   3     Jang   63
3   4  IronMan   48
4   5     CapA  123
5   6       Po   45
6   7      San   25

In [111]:
print(df.loc[0:5])

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F

In [114]:
print(df.iloc[:,:2])

   no     name
0   1     Hong
1   2     Atom
2   3     Jang
3   4  IronMan
4   5     CapA
5   6       Po
6   7      San

In [115]:
small_range6=list(range(1,3))
subset=df.iloc[:,small_range6]
print(subset)

      name  age
0     Hong   10
1     Atom   25
2     Jang   63
3  IronMan   48
4     CapA  123
5       Po   45
6      San   25

In [116]:
subset=df.iloc[:,1:3]
print(subset)

      name  age
0     Hong   10
1     Atom   25
2     Jang   63
3  IronMan   48
4     CapA  123
5       Po   45
6      San   25

In [117]:
small_range7=list(range(1,3,2))
subset=df.iloc[:,small_range7]
print(subset)

      name
0     Hong
1     Atom
2     Jang
3  IronMan
4     CapA
5       Po
6      San

In [119]:
print(df.iloc[:,:3:2])

   no  age
0   1   10
1   2   25
2   3   63
3   4   48
4   5  123
5   6   45
6   7   25

행과 열 함께 지정하여 추출하기

In [120]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [122]:
print(df.loc[3,'name'])

IronMan

In [124]:
print(df.iloc[3,1])

IronMan

여러 행과 열 지정하여 데이터 추출하기

In [125]:
print(df)

   no     name  age gender
0   1     Hong   10      F
1   2     Atom   25      F
2   3     Jang   63      M
3   4  IronMan   48      F
4   5     CapA  123      M
5   6       Po   45      F
6   7      San   25      M

In [127]:
print(df.iloc[[1,2,3],[1,2,3]])

      name  age gender
1     Atom   25      F
2     Jang   63      M
3  IronMan   48      F

In [148]:
print(df.iloc[:3][:4])

   no  name  age gender
0   1  Hong   10      F
1   2  Atom   25      F
2   3  Jang   63      M

In [153]:
print(df.loc[[1,2,3],['name','gender','age']])

      name gender  age
1     Atom      F   25
2     Jang      M   63
3  IronMan      F   48