### Pandas PDF 복습

In [106]:
import pandas as pd

In [107]:
dict_data={'a':1,'b':2,'c':3}

In [108]:
sr=pd.Series(dict_data)

In [109]:
print(type(sr))
print('\n')

<class 'pandas.core.series.Series'>

In [110]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [111]:
print(sr.index)
print(sr.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [112]:
print(sr[0])
print(sr['a'])

1
1

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\3086132296.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [113]:
list_data=['2019-02-02',3.14,'ABC',100,True]
sr=pd.Series(list_data)

In [114]:
print(sr)

0    2019-02-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [115]:
idx=sr.index
val=sr.values

In [116]:
print(idx,val,sep=' ')

RangeIndex(start=0, stop=5, step=1) ['2019-02-02' 3.14 'ABC' 100 True]

In [117]:
tup_data=('영인','2010-05-01','여',True)
sr=pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])

In [118]:
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [119]:
print(sr[0])
print(sr['생년월일'])

영인
2010-05-01

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\803037911.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [120]:
print(sr[[0,1]])

이름              영인
생년월일    2010-05-01
dtype: object

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\3455411219.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[0,1]])

In [121]:
print(sr[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object

In [122]:
print(sr[1:2])

생년월일    2010-05-01
dtype: object

In [123]:
print(sr[[0,1]])
print(sr[:2])

이름              영인
생년월일    2010-05-01
dtype: object
이름              영인
생년월일    2010-05-01
dtype: object

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\643466636.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[0,1]])

In [124]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

In [125]:
df=pd.DataFrame(dict_data)

In [126]:
print(df)
print('\n')
print(type(df))

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15


<class 'pandas.core.frame.DataFrame'>

In [127]:
print('\n')
df.values

array([[ 1,  4,  7, 10, 13],
       [ 2,  5,  8, 11, 14],
       [ 3,  6,  9, 12, 15]], dtype=int64)

In [128]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [129]:
df.columns

Index(['c0', 'c1', 'c2', 'c3', 'c4'], dtype='object')

In [130]:
df.columns='1번','2번','3번','4번','5번'

In [131]:
print(df)

   1번  2번  3번  4번  5번
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [132]:
df.index='수박','사과','배'

In [133]:
print(df)

    1번  2번  3번  4번  5번
수박   1   4   7  10  13
사과   2   5   8  11  14
배    3   6   9  12  15

In [134]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','영남고']],
                index=['준서','예은'],
                columns=['나이','성별','학교'])

In [135]:
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  영남고

In [136]:
print(df.index)

Index(['준서', '예은'], dtype='object')

In [137]:
print(df.columns)

Index(['나이', '성별', '학교'], dtype='object')

In [138]:
df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']

In [139]:
print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  영남고

In [140]:
print(df.index)

Index(['학생1', '학생2'], dtype='object')

In [141]:
print(df.columns)

Index(['연령', '남녀', '소속'], dtype='object')

In [142]:
df.rename(index={'학생1':'학생5'})

     연령 남녀   소속
학생5  15  남  덕영중
학생2  17  여  영남고

In [143]:
df.rename(columns={'남녀':'여남'})

     연령 여남   소속
학생1  15  남  덕영중
학생2  17  여  영남고

In [144]:
df.rename(columns={'나이':'연령','남녀':'성별','소속':'학교'})

     연령 성별   학교
학생1  15  남  덕영중
학생2  17  여  영남고

In [145]:
df.rename(index={'학생1':'준서','학생2':'예은'})

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  영남고

In [146]:
exam_data={'수학':[70,80,90],'영어':[80,89,56],
           '음악':[45,78,89],'체육':[89,78,65]}

In [147]:
df=pd.DataFrame(exam_data,index=['서준','우현','윤아'])

In [148]:
print(df)

    수학  영어  음악  체육
서준  70  80  45  89
우현  80  89  78  78
윤아  90  56  89  65

In [149]:
df2=df[:]
df2.drop('우현',inplace=True)

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\1998336621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현',inplace=True)

In [150]:
print(df2)
df3=df[:]

    수학  영어  음악  체육
서준  70  80  45  89
윤아  90  56  89  65

In [151]:
print(df3)

    수학  영어  음악  체육
서준  70  80  45  89
우현  80  89  78  78
윤아  90  56  89  65

In [152]:
exam_data={'수학':[90,85,96],'영어':[89,78,45],
           '음악':[85,96,89],'체육':[78,56,58]}

In [153]:
df=pd.DataFrame(exam_data,index=['우현','서준','윤아'])
print(df)

    수학  영어  음악  체육
우현  90  89  85  78
서준  85  78  96  56
윤아  96  45  89  58

In [154]:
df1=df[:]
df1.drop('수학',axis=1,inplace=True)
print(df1)

    영어  음악  체육
우현  89  85  78
서준  78  96  56
윤아  45  89  58

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\1829736223.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('수학',axis=1,inplace=True)

In [155]:
df6=df[:]
df6.drop(['영어','체육'],axis=1,inplace=True)
print(df6)

    수학  음악
우현  90  85
서준  85  96
윤아  96  89

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\2935843750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.drop(['영어','체육'],axis=1,inplace=True)

In [156]:
exam_data={'수학':[90,85,96],'영어':[89,78,45],
           '음악':[85,96,89],'체육':[78,56,58]}
df=pd.DataFrame(exam_data,index=['서준','우현','윤아'])
print(df)

    수학  영어  음악  체육
서준  90  89  85  78
우현  85  78  96  56
윤아  96  45  89  58

In [157]:
labe1=df.loc['서준']
position1=df.iloc[0]

In [158]:
print(labe1)

수학    90
영어    89
음악    85
체육    78
Name: 서준, dtype: int64

In [159]:
print(position1)

수학    90
영어    89
음악    85
체육    78
Name: 서준, dtype: int64

rename,drop,iloc,loc 모두 DataFram객체.00

In [160]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
labe2=df.loc[['서준','우현']]
print(labe2)

    수학  영어  음악  체육
서준  90  89  85  78
우현  85  78  96  56

In [161]:
position2=df.iloc[[0,1]]
print(position2)

    수학  영어  음악  체육
서준  90  89  85  78
우현  85  78  96  56

##### 각각 뽑을때는 리스트 안의 리스트 슬라이싱으로 뽑을땐 리스트 하나

In [162]:
label2=df.loc['서준':'윤아']
print(label2)

    수학  영어  음악  체육
서준  90  89  85  78
우현  85  78  96  56
윤아  96  45  89  58

In [163]:
label19=df.loc[['서준','윤아']]
print(label19)

    수학  영어  음악  체육
서준  90  89  85  78
윤아  96  45  89  58

[열 선택]
- DataFrame객체['열 이름']
- DataFrame객체.열이름

In [164]:
exam_data={'이름':['서준','우현','윤아'],
           '수학':[85,89,65],
           '영어':[78,45,79],
           '체육':[95,68,75],
           '음악':[85,89,68]}
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어  체육  음악
0  서준  85  78  95  85
1  우현  89  45  68  89
2  윤아  65  79  75  68

In [165]:
math1=df['수학']
print(type(math1))
print(math1)

<class 'pandas.core.series.Series'>
0    85
1    89
2    65
Name: 수학, dtype: int64

In [167]:
english=df['영어']
music_gym=df[['음악','체육']]

In [168]:
math2=df.수학

In [169]:
math3=df[['수학']]

In [171]:
exam_data={'이름':['서준','우현','윤아'],
           '수학':[85,89,65],
           '영어':[78,45,79],
           '체육':[95,68,75],
           '음악':[85,89,68]}
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어  체육  음악
0  서준  85  78  95  85
1  우현  89  45  68  89
2  윤아  65  79  75  68

In [193]:
df.set_index('이름',inplace=True)
print(df)

    수학  영어  체육  음악
이름
서준  85  78  95  85
우현  89  45  68  89
윤아  65  79  75  68

In [187]:
print(df.iloc[0])

이름    서준
수학    85
영어    78
체육    95
음악    85
Name: 0, dtype: object

In [191]:
a=df.iloc[0,2]
print(a)

78

In [194]:
c=df.loc['서준',['음악','체육']]
print(c)

음악    85
체육    95
Name: 서준, dtype: int64

In [195]:
d=df.iloc[0,[0,1]]
print(d)

수학    85
영어    78
Name: 서준, dtype: int64

In [197]:
f=df.loc['서준','수학':'체육']
print(f)

수학    85
영어    78
체육    95
Name: 서준, dtype: int64

In [198]:
print(df)

    수학  영어  체육  음악
이름
서준  85  78  95  85
우현  89  45  68  89
윤아  65  79  75  68

In [199]:
g=df.loc['서준':'윤아','수학':'체육']
print(g)

    수학  영어  체육
이름
서준  85  78  95
우현  89  45  68
윤아  65  79  75

In [201]:
h=df.iloc[:2,:2]
print(h)

    수학  영어
이름
서준  85  78
우현  89  45

In [202]:
j=df.loc[['서준','우현'],['수학','영어']]
k=df.iloc[[0,1],[0,1]]
print(k)

    수학  영어
이름
서준  85  78
우현  89  45

[행/열 추가]  
DataFrame객체['추가할 열 이름']=데이터 값
DataFrame객체.loc['추가할 행 이름']=데이터 값

DataFrame객체['열 이름'] <== 열 선택
DataFrame.loc['행 이름'] <== 행 선택

In [203]:
exam_data={'이름':['서준','우현','윤아'],
           '수학':[85,89,65],
           '영어':[78,45,79],
           '체육':[95,68,75],
           '음악':[85,89,68]}
df=pd.DataFrame(exam_data)

In [204]:
df['국어']=80

In [205]:
print(df)

   이름  수학  영어  체육  음악  국어
0  서준  85  78  95  85  80
1  우현  89  45  68  89  80
2  윤아  65  79  75  68  80

In [206]:
df.loc[3]=0
print(df)

   이름  수학  영어  체육  음악  국어
0  서준  85  78  95  85  80
1  우현  89  45  68  89  80
2  윤아  65  79  75  68  80
3   0   0   0   0   0   0

In [208]:
df.loc[4]=['동규', 90, 80, 60, 10, 99]
print(df)

   이름  수학  영어  체육  음악  국어
0  서준  85  78  95  85  80
1  우현  89  45  68  89  80
2  윤아  65  79  75  68  80
3   0   0   0   0   0   0
4  동규  90  80  60  10  99

In [209]:
df.loc[5]=df.loc[3]
print(df)

   이름  수학  영어  체육  음악  국어
0  서준  85  78  95  85  80
1  우현  89  45  68  89  80
2  윤아  65  79  75  68  80
3   0   0   0   0   0   0
4  동규  90  80  60  10  99
5   0   0   0   0   0   0

In [211]:
df.set_index('이름',inplace=True)
print(df)

    수학  영어  체육  음악  국어
이름
서준  85  78  95  85  80
우현  89  45  68  89  80
윤아  65  79  75  68  80
0    0   0   0   0   0
동규  90  80  60  10  99
0    0   0   0   0   0

In [212]:
print(df.iloc[0])

수학    85
영어    78
체육    95
음악    85
국어    80
Name: 서준, dtype: int64

[원소 값 변경]  
DataFrame객체 일부분 또는 원소 선택 = 새로운 값

In [214]:
exam_data={'이름':['서준','우현','윤아'],
           '수학':[85,89,65],
           '영어':[78,45,79],
           '체육':[95,68,75],
           '음악':[85,89,68]}
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어  체육  음악
0  서준  85  78  95  85
1  우현  89  45  68  89
2  윤아  65  79  75  68

In [215]:
df.set_index('이름',inplace=True)
print(df)

    수학  영어  체육  음악
이름
서준  85  78  95  85
우현  89  45  68  89
윤아  65  79  75  68

In [216]:
df.iloc[0][3]=80
print(df)

    수학  영어  체육  음악
이름
서준  85  78  95  80
우현  89  45  68  89
윤아  65  79  75  68

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\2104541776.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][3]=80
C:\Users\KDP-17\AppData\Local\Temp\ipykernel_8760\2104541776.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3]=80

In [217]:
df.loc['서준','체육']=95
print(df)

    수학  영어  체육  음악
이름
서준  85  78  95  80
우현  89  45  68  89
윤아  65  79  75  68

In [218]:
df.loc['서준',['음악','체육']]= 100, 50
print(df)

    수학  영어  체육   음악
이름
서준  85  78  50  100
우현  89  45  68   89
윤아  65  79  75   68