
이 파일은 컬럼을 멀티인덱스로 만들때 행인덱스의 중복값이 있는 경우 값에 리스트를 씌워야 하는 이유를 알 수 있는 파일임

In [27]:
# [1] 모듈 로딩
import pandas as pd
import df_util_2 as util

In [28]:
# [2] 데이터 준비
file='test_data3.csv'

In [29]:
# [3] DF 만들기
df1=pd.read_csv(file)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [30]:
# [4] 데이터 추출
# [4-1] 대구 관련 데이터만 추출
df1[df1['col1']=='대구']

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [31]:
# [4-2] index와 col1을 행 인덱스 설정
df2=df1.set_index(['index','col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

컬럼으로 멀티인덱스 만들때 행인덱스가 된 애들중에서 중복되는 값은 1번만 사용  
위의 표 보면 2020과 2021은 각각 중복값이 있기 때문에 한번씩 나왔음

In [32]:
# 인덱스 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]], dtype=int64))

In [33]:
# 2020년도 '대구' 데이터 추출
df2.loc[(2020,'대구')] = [13,15]
df2.loc[(2020,'대구')]

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\4063310995.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'대구')] = [13,15]
C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\4063310995.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'대구')]

            col2  col3
index col1
2020  대구      13    15

In [34]:
# 2021년도 '대구' 데이터 추출
df2.loc[(2021,'대구')]=[3,3]
df2

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\3389898214.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2021,'대구')]=[3,3]

            col2  col3
index col1
2020  서울      10    20
      대구      13    15
2021  서울      10    20
      대구       3     3
      대구       3     3

2021 대구 같은 경우 키가 2021, 대구를 키로 가지고 있는 모든 행의 값이 바뀜

In [35]:
# 행 추가 => (년도,지역명)을 행인덱스로 만들어줘야 함
# df2.loc[(2022,'부산')]=0
# df2

위의 경우 [(2022,'부산)] 형태라서 부산을 컬럼 추가로 인식해서 열로 만들어줘버림   
그래서 [(2022,'부산'), :] 형태로 만들어서 뒤의 컬럼을 열로 인식하게 해줘야 함

In [37]:
df2.loc[(2022,'부산'),:]=0

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\2545977496.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'부산'),:]=0

In [41]:
df2.loc[(2022,'마산'),:]=[3,4]

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\4017253391.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'),:]=[3,4]

In [43]:
df2.loc[(2022,'울산'),:]=pd.Series({'col2':8,'col3':8})
# 시리즈를 값으로 넣으려고 하는데 이터러블 타입이 아니라서 for 반복문으로 꺼낼 수가 없으니 에러가 뜸

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\4241009016.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'),:]=pd.Series({'col2':8,'col3':8})
C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\4241009016.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'울산'),:]=pd.Series({'col2':8,'col3':8})

ValueError: Must have equal len keys and value when setting with an iterable

In [45]:
df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8,'col3':8})]
# 값으로 넣으려는 시리즈를 이터러블 타입으로 만들기 위해 리스트를 씌워줌

C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\3094448949.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8,'col3':8})]
C:\Users\KDP-17\AppData\Local\Temp\ipykernel_18456\3094448949.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8,'col3':8})]

In [46]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    13.0  15.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     NaN   NaN
      경산     8.0   8.0