In [2]:
import pandas as pd

In [3]:
weather_df=pd.read_csv('daegu-utf8.csv',encoding='utf-8-sig')

In [4]:
print(weather_df.columns)
print(weather_df['날짜'].dtype)

Index(['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='object')
object

In [5]:
weather_df.columns=['날짜','지점','평균기온','최저기온','최고기온']
weather_df.columns

Index(['날짜', '지점', '평균기온', '최저기온', '최고기온'], dtype='object')

In [6]:
weather_df['날짜']=pd.to_datetime(weather_df['날짜'],format='%Y-%m-%d')
print(weather_df['날짜'].dtype)

datetime64[ns]

In [7]:
print(weather_df.head(5))
print(weather_df.shape)
num_rows=weather_df.shape[0]
num_missing=num_rows-weather_df.count()
print(num_missing)

          날짜     지점  평균기온  최저기온  최고기온
0 1907-01-31  143.0   NaN  -7.0   0.8
1 1907-02-01  143.0   NaN   NaN   NaN
2 1907-02-02  143.0   NaN   NaN   NaN
3 1907-02-03  143.0   NaN   NaN   NaN
4 1907-02-04  143.0   NaN   NaN   NaN
(42887, 5)
날짜        1
지점        1
평균기온    704
최저기온    630
최고기온    632
dtype: int64

In [8]:
weather_df=weather_df.dropna(axis=0)
print(weather_df.count())
print(weather_df.head(5))

날짜      42180
지점      42180
평균기온    42180
최저기온    42180
최고기온    42180
dtype: int64
            날짜     지점  평균기온  최저기온  최고기온
701 1909-01-01  143.0  -4.1  -8.0   0.1
702 1909-01-02  143.0  -0.8  -6.7   6.1
703 1909-01-03  143.0   1.0  -2.4   3.6
704 1909-01-04  143.0   4.2   0.0   9.2
705 1909-01-05  143.0   3.4  -0.4   9.0

In [9]:
weather_df.to_csv('daegu-utf8-df.csv',index=False,mode='w',encoding='utf-8-sig')

In [14]:
print('특정 연동와 달의 최고, 최저 기온 평균값 계산')

year_df=weather_df[weather_df['날짜'].dt.year==2023]
month_df=year_df[year_df['날짜'].dt.month==8]
print(month_df.head())

특정 연동와 달의 최고, 최저 기온 평균값 계산
              날짜     지점  평균기온  최저기온  최고기온
42551 2023-08-01  143.0  29.7  24.9  34.8
42552 2023-08-02  143.0  30.0  23.9  34.7
42553 2023-08-03  143.0  31.5  27.0  37.7
42554 2023-08-04  143.0  30.5  26.0  34.7
42555 2023-08-05  143.0  31.5  25.7  37.2

특정 연도와 달의 최저 기온 및 최고 기온의 평균값 계산

In [12]:
max_temp_mean=round(month_df['최고기온'].mean(),1)
min_temp_mean=round(month_df['최저기온'].mean(),1)

print(f'2023년 8월 최저기온 평균 :{min_temp_mean}, 최고기온 평균:{max_temp_mean}')

2023년 8월 최저기온 평균 :22.4, 최고기온 평균:31.2

### [1990년대와 2010년대 최고 기온 비교]